/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities */
body{
    font-family: 'Poppins', sans-serif;
    
}

.banner{
    display: flex;
    align-items: center;

}
.banner-right img{
    width: 440px;
    height: 414px;
}
.banner-left{
    margin-right: 10%;
}
.primary-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(228, 68, 68), rgb(214, 126, 126));
    padding: 10px 40px;
    color: black;
    font-weight: 700;
    border-radius: 5px;
}

/* Collection style */
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 26px;

}
.see-more{

    background-image: linear-gradient(rgb(228, 68, 68), rgb(214, 126, 126));
    color: black;
    padding-left: 150px;

}
/* Coollection owenar style */

/* Contact Style */
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 10% 5%;
    padding-top: 30% 30%;
    gap: 30px;
    
}
.contact-left img{
    width: 100%;
}
.contact-right form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-field{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-family: inherit;
    outline: 0;
    border: 1px solid black;
}
.con-head h2{
    align-items: center;
    padding: 10% ;
}

/* footer */
.footer{
    text-align: center;
    background-color: #000000;
}
.foo{
    color: white;
}

/* Media Queries */

/* Mobile Devices */
@media only screen and (max-width:577px){
    .container{
        width: 100%;
    }
    .banner, .collections, .contact{
        grid-template-columns: repeat(1, 1fr);
    }
   .banner .banner-left, .banner-right{
        flex-direction: column;
    }
}
/* Tablet Devices */
@media only screen and (min-width: 577px) and (max-width:768px){
    .container{
        width: 100%;
    }
    .collections, .contact{
        grid-template-columns: repeat(2, 1fr);
    }
    .collections{
        grid-template-columns: repeat(1, 1fr);
    }
}